{{# if @labs.subscribers }}
  <div class="container" >
    <div class="column small-12" id="subscribe">
      <div class="subscribe-hold">
        <span>Subscribe</span>
        {{ subscribe_form placeholder="your@email.com" autofocus="false" }}
      </div>
    </div>
  </div>
 {{/ if }}
