{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}

<main id="main">
    <section class="post">

        <div class="content">
            {{content}}
        </div>

    </section>
</main>

{{/post}}
